<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>マッチング待機中</title>
    </head>
    <body>
        <h2>マッチング中です…少々お待ちください</h2>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script>
            const socket = io();
            const room = "{{ room }}"
            socket.emit("join", { room: room});

            socket.on("match_success", () => {
                window.location.href = "/game";
            });
        </script>
    </body>
</html>